@import 'styles/vars.sass'

$width: 50%
$height: 490px

// MODAL AND OVERLAY
.PostModal
  position: absolute
  top: $margin-ver-lg
  left: calc((100% - #{$width}) / 2)
  width: $width
  height: $height
  background-color: $color-fill-lightgrey

  transform: translateY(-40px)
  opacity: 0
  animation: slideIn 300ms forwards 100ms ease-out

@keyframes slideIn
  0%
    transform: translateY(-40px)
    opacity: 0
  100%
    transform: translateY(0)
    opacity: 1


.PostModal__Overlay
  z-index: 20
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: rgba(0, 0, 0, 0.6)
  animation: fadeIn 100ms forwards


@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1



// MODAL HEADER

.PostModal__header, .PostForm
  padding: $padding-hor-md

.PostModal__header
  display: flex
  height: 50px
  background-color: $color-fill-white
  justify-content: space-between
  align-items: center

.PostModal__title
  margin: 0



// FORM

.PostForm__date-time
  display: flex
  align-items: center

.PostForm__date
  margin-left: $margin-hor-sm
  margin-right: $margin-hor-xs
  font-size: $font-size-md
  padding: $padding-ver-xxs $padding-hor-xs
  border-radius: 3px
  border-width: 0
  box-shadow: 0 1px 10px rgba(0,0,0,0.1)

  background:
    image: url('./triangle.svg')
    repeat: no-repeat
    position: calc(100% - 10px) 50%
