@import 'styles/vars.sass'

// MODAL
.PostModal
  position: absolute
  top: $margin-ver-lg
  width: 50%
  left: 25%
  min-width: 620px
  background-color: $color-fill-lightgrey
  transform: translateY(-40px)
  opacity: 0
  animation: slideIn 300ms forwards 100ms ease-out
  will-change: transform


  @media screen and (max-width: $bp-screen-lg)
    left: calc((100% - 620px) / 2)
  @media screen and (max-width: $bp-screen-md)
    width: calc(100% - 30px * 2)
    min-width: auto
    left: 30px
  @media screen and (max-width: $bp-screen-xs)
    width: calc(100% - 20px * 2)
    left: 20px


@keyframes slideIn
  0%
    transform: translateY(-40px)
    opacity: 0
  100%
    transform: translateY(0)
    opacity: 1



// OVERLAY

.PostModal__Overlay
  z-index: 20
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: rgba(0, 0, 0, 0.6)
  animation: fadeIn 100ms forwards
  overflow: scroll


@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1



// MODAL HEADER

.PostModal__header, .PostForm
  padding: $padding-hor-md

.PostModal__header
  display: flex
  height: 50px
  background-color: $color-fill-white
  justify-content: space-between
  align-items: center

.PostModal__title
  margin: 0


.PostModal__btn-close
  cursor: pointer
