@import 'styles/vars.sass'

$border-radius: 3px


// DATEPICKER

.PostForm__date-time
  display: flex
  flex-wrap: wrap
  align-items: center
  margin-bottom: $pm-sm

  label
    @media screen and (max-width: $bp-screen-md)
      flex-basis: 100%
      margin-bottom: $pm-xs

.PostForm__date,
.PostForm__date_m,
.PostForm__hours,
.PostForm__minutes,
.PostForm__text
  font-size: $font-size-md
  font-family: STM, sans-serif

.PostForm__date,
.PostForm__date_m,
.PostForm__hours,
.PostForm__minutes
  padding: $pm-xss $pm-xs
  box-shadow: 0 1px 10px rgba(0,0,0,0.1)
  border-radius: $border-radius
  border-width: 0

  background:
    color: $color-fill-white
    image: url('./triangle.svg')
    repeat: no-repeat
    position: calc(100% - 10px) 50%

.PostForm__date,
.PostForm__date_m
  margin-left: $pm-sm
  margin-right: $pm-xs
  @media screen and (max-width: $bp-screen-md)
    margin-left: 0

.PostForm__date
  @media (pointer: coarse) and (hover: none)
    display: none

.PostForm__date_m
  width: 190px
  height: 20px
  display: none
  @media (pointer: coarse) and (hover: none)
    display: flex


.react-datepicker-popper
  z-index: 2


//  TIME SELECT BOXES

.PostForm__time
  @media screen and (max-width: 550px)
    width: 100%
    margin-top: $pm-xs

.PostForm__hours,
.PostForm__minutes
  border: none
  -webkit-appearance: none
  -moz-appearance: none
  width: 55px

.PostForm__hours,
  margin-left: $pm-xs
  border-top-right-radius: 0
  border-bottom-right-radius: 0
  border-right: 1px solid $color-fill-grey

.PostForm__minutes
  border-top-left-radius: 0
  border-bottom-left-radius: 0
  margin-right: $pm-xs

.PostForm__timezone
  font-size: $font-size-sm
  color: $color-fill-grey


// SOCIAL PROFILES & TEXT

.PostForm__social,
.PostForm__text
  background-color: $color-fill-white
  padding: $pm-md
  border: 1px solid $color-fill-grey

.PostForm__social
  display: flex

  .Checkbox
    margin-right: $pm-xs

.PostForm__text
  resize: none
  width: calc(100% - 2 * #{$pm-md} - 2 * 1px)
  height: 170px
  margin-top: -1px
  border-radius: 0
  margin-bottom: $pm-xl



//  BUTTONS
.PostForm__buttons
  display: flex
  justify-content: space-between
