@import 'styles/vars.sass'
$toggler-size: 60px
$animation-time: 0.5s

.Menu
  background-color: $color-fill-lightblack
  width: 180px
  @media screen and (max-width: $bp-screen-small)
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: -100%
    transition: all $animation-time ease-in-out

@media screen and (max-width: $bp-screen-small)
  .Menu-open
    left: 0



.Menu__toggler
  @media screen and (min-width: $bp-screen-small)
    display: none
  width: $toggler-size
  height: $toggler-size
  background-color: $color-fill-lightblack
  position: absolute
  top: calc(50% - #{$toggler-size} / 2)
  right: calc(-#{$toggler-size} / 2 + 10px)
  border-radius: 50%
  transition: all $animation-time ease-in-out
  transition-delay: $animation-time

  background:
    image: url('./chevron-right.svg')
    repeat: no-repeat
    position: 85% 50%

.Menu__toggler-open
  transform: rotate(180deg)
