//  COLORS
$color-fill-black: #2A2A2A
$color-fill-lightblack: #373737
$color-fill-darkgrey: #CDCCCC
$color-fill-grey: #CFCFCF
$color-fill-lightgrey: #F5F5F5

$color-text-black: $color-fill-black
$color-text-grey: #A6A6A6
// $color-text-lightgrey: #CDCCCC


//  BREAKPOINTS
$bp-screen-small: 600px


//  SIZES
$padding-hor-md: 20px

$margin-ver-md: 20px
$margin-ver-lg: 35px
$margin-hor-md: 20px
$margin-hor-sm: 15px
$margin-hor-xs: 5px


// FONT SIZES
$font-size-xl: 1.875rem
$font-size-md: 1rem
$font-size-sm: 0.8125rem
