//  COLORS
$color-fill-black: #2A2A2A
$color-fill-lightblack: #373737
$color-fill-darkgrey: #CDCCCC
$color-fill-grey: #CFCFCF
$color-fill-mediumgrey: #E3E3E3
$color-fill-lightgrey: #F5F5F5
$color-fill-white: #FFFFFF
$color-fill-green: #0CBD97
$color-fill-red: #d2172e

$color-text-black: $color-fill-black
$color-text-grey: #A6A6A6


//  BREAKPOINTS
$bp-screen-lg: 1240px
$bp-screen-md: 700px
$bp-screen-sm: 500px
$bp-screen-xs: 380px


//  SIZES
$pm-xl: 50px
$pm-lg: 30px
$pm-md: 20px
$pm-sm: 15px
$pm-xs: 10px
$pm-xss: 5px


// FONT SIZES
$font-size-xl: 1.875rem
$font-size-md: 1rem
$font-size-sm: 0.8125rem
