@import 'styles/vars.sass'

.Slot
  border-style: dashed
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.Slot__time, .Slot__text
  margin: 0

.Slot__time
  text-transform: lowercase
  
.Slot__text
  text-transform: capitalize

.Slot__icon
  margin-top: $margin-ver-xs
