@import 'styles/vars.sass'
.Day
  margin-bottom: $pm-lg
  @media screen and (max-width: $bp-screen-sm)
    margin-bottom: $pm-xl

.Day__header
  margin-bottom: $pm-md
  display: flex
  justify-content: space-between
  align-items: center
  @media screen and (max-width: $bp-screen-sm)
    flex-direction: column
    align-items: flex-start
    margin-bottom: $pm-lg


.Day__title
  display: flex
  flex-wrap: wrap
  align-items: baseline
  @media screen and (max-width: $bp-screen-sm)
    margin-bottom: $pm-xs

.Day__name
  margin: 0
  font-weight: normal
  font-size: $font-size-xl
  margin-right: $pm-md

.Day__weekday
  font-size: $font-size-md
  color: $color-text-grey

.Day__content
  display: flex
  flex-wrap: wrap


//  Enter/Leave animations

.Tile
  &.tile-exit
    opacity: 1

  &.tile-exit-active
    opacity: 0.01
    transition: opacity 700ms ease-out

  &.tile-enter
    opacity: 0.3
    transform: translateY(-40px)
    box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.1)

  &.tile-enter-active
    opacity: 1
    transform: translateY(0)
    box-shadow: 0px 1px 20px 0px rgba(0,0,0,0)
    transition: all 700ms ease-out 300ms
