@import 'styles/vars.sass'
.Day
  margin-bottom: $margin-ver-lg

.Day__header
  margin-bottom: $margin-ver-md
  display: flex
  justify-content: space-between
  align-items: center

.Day__title
  margin: 0
  font-weight: normal
  font-size: $font-size-xl

.Day__dayname
  margin-left: $margin-hor-md
  font-size: $font-size-md
  color: $color-text-grey

.Day__content
  display: flex
  flex-wrap: wrap
