@import 'styles/vars.sass'
.Day
  margin-bottom: $margin-ver-lg

.Day__header
  margin-bottom: $margin-ver-md
  display: flex
  justify-content: space-between
  align-items: center

.Day__title
  margin: 0
  font-weight: normal
  font-size: $font-size-xl

.Day__dayname
  margin-left: $margin-hor-md
  font-size: $font-size-md
  color: $color-text-grey

.Day__content
  display: flex
  flex-wrap: wrap


//  Enter/Leave animations

.__tile__
  &.fade-exit
    opacity: 1

  &.fade-exit-active
    opacity: 0.01
    transition: opacity 500ms ease-in

//   &.fade-enter
//     animation: none
//     opacity: 0.5
//     transform: translateY(-30px)
//
//   &.fade-enter-active
//     animation: none
//     opacity: 1
//     transform: translateY(0)
//     transition: all 5000ms ease-in
//
//   &.fade-enter-done
//     animation: none
//
//
